<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

<link type="text/css" href="../bootstrap/css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
<link rel="stylesheet" href="../css/slider/default/default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../css/slider/pascal/pascal.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../css/slider/orman/orman.css" type="text/css" media="screen" />
<link type="text/css" href="../bootstrap/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="../css/slider/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../css/slider/style.css" type="text/css" media="screen" />
<link type="text/css" href="../css/main.css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../js/calendar.js"></script>
<script type="text/javascript" src="../js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="../js/jquery.inputhints.min.js"></script>
<script type="text/javascript" src="../js/index.js"></script>

</head>
<body>

<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<div class='row'>
		   		<div class='span8'>
		   		<a class="brand" href="/index">
		   			DBAY TRIP
		   			<!-- 
					<img src="images/logo3.png" width="120px" alt="DBAY TRIP"/>
					 -->
				</a>
		        <ul class="nav">
			    <li class="active">
			    	<a href="/">首页</a>
			    </li>
			    <li><a href="/ride/">搭车</a></li>
			    <li><a href="#">活动</a></li>
			    </ul>
			    </div>
			    <div class='span4'>
			    	<ul class="nav">
						<li>
							<?php 
								if($this->userinfo)
									echo "<a href='#'>".$this->userinfo->username.",你好</li><li><a href='login/logout'>退出</a>";
								else{
							?>
				    				<a href="/login">登陆</a>
				    		<?php 
								}
				    		?>
				    	</li>
				    	<li>
				    		<?php 
				    			if(!$this->userinfo)
				    				echo '<a href="/user/register">注册</a>';
							?>
				    	</li>
				    </ul>
			    </div>
			    </div>
			</div>
		</div>
</div>